*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233498db' fill-opacity='0.18' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  font-size: 10px;
  color: #2c3e50;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.5rem;
}

img {
  width: 100%;
}

p,
li,
ul,
ol,
footer,
code {
  font-size: 1.8rem;
  line-height: 1.5;
}

a {
  color: #2980b9;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.container {
  width: 800px;
  max-width: 90vw;
  margin: 0 auto;
}

.row {
  margin: 20px;
  &-block {
    text-align: center;
    &:first-child {
      margin-top: 4rem;
    }
    &:last-child {
      margin-bottom: 4rem;
    }
  }
}
.block {
  height: 125px;
  width: 125px;
  border: 4px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 3px, rgba(0, 0, 0, 0.08) 0px 3px 5px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 2rem;
  transform: scale(0.8) rotate(0deg);
  &.show {
    transform: scale(1) rotate(45deg);
    font-size: 40px;
  }
  img {
    width: 70%;
  }
}

section.card {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 3px, rgba(0, 0, 0, 0.08) 0px 3px 5px;
  padding: 2rem;
  border-radius: 2rem;
  margin: 6rem 0;
  transition: all 0.4s cubic-bezier(0.25, 0.75, 0.5, 1.25);
  opacity: 0;
  transform: translate3d(0, 5rem, 0);
  &.enter {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hide {
  display: none;
}
